.category_list .active a {
    font-weight: 700;
    color: #81D418;
}

.cate_contain ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.list_contain ul {
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
}

.list_cont {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 5px 0 0;
    align-items: center;
}

.view_btn {
    background-image: url('../images/icon-arrow-white.svg');
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 100%;
}

.sns_contain ul {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.sns_contain ul li {
    border-radius: 20px;
    overflow: hidden;
}

.movie_contain ul {
    grid-column-gap: 1px;
    grid-row-gap: 40px;
}

.movie_contain li {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--white-color);
}

.movie_contain li:before {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    content: '';
    display: block;
    min-width: 100%;
}

.movie_contain li iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    display: block;
}

.list_thumb {
    width: 100%;
    position: relative;
    font-size: 0;
    line-height: 0;
    border-radius: 20px;
    overflow: hidden;
}

.list_thumb::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.thumb_icon {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.thumb_icon span {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 0.5rem 0.8rem;
    color: #222;
    border-radius: 20px;
    font-weight: 600;
}

.thumb_icon span.icon_d {
    background-color: var(--dark-point-color);
}

.thumb_icon span.icon_p {
    background-color: var(--secondary-color);
}

.thumb_icon span.icon_j {
    background-color: var(--point-color);
}

.thumb_icon span.icon_h {
    background-color: var(--dark-point-color);
}

.thumb_icon span.icon_c {
    background-color: var(--secondary-color);
}

.thumb_icon span.icon_r {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.more_btn {
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: underline;
}

.more_btn:hover {
    color: #555;
}

.detail_back_btn {
    border: none;
    background-color: var(--point-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid #222;
    margin: 5% auto 0;
    display: flex;
    gap: 0.5rem;
}

.detail_back_btn::before {
    content: '<';
}

@media (min-width : 501px) and (max-width : 1024px) {
    .cate_contain ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 500px) {
    .cate_contain ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .event_detail_contain,
    .promotion_detail_contain,
    .lookbook_detail_contain {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}