.category_list .active a {
    font-weight: 700;
    text-decoration: underline;
}

.cate_contain ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lookbook_contain ul {
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.sns_contain ul {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.movie_contain ul {
    grid-column-gap: 1px;
    grid-row-gap: 40px;
}

.movie_contain li {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--white-color);
}

.movie_contain li:before {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    content: '';
    display: block;
    min-width: 100%;
}

.movie_contain li iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    display: block;
}

.more_btn {
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
}

.more_btn a {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    padding: 8px 12px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    font-weight: 600;
}

@media (min-width : 501px) and (max-width : 1024px) {
    .cate_contain ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 500px) {
    .cate_contain ul {
        grid-template-columns: repeat(1, 1fr);
    }
}